body{
    font-size: 16px;
}

.banner{
    background-image: url("../images/background-banner.jpg");
    background-position: bottom;
    background-repeat: repeat;
    background-size: cover;

    margin-top: -25px;
}

.banner img{
    display: inline-block;

    width: 100%;
    max-width: 1200px;
    height: auto;

}

.artigo {
    position: relative;

    display: flex;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; 
}

.artigo .titulo{
    padding-left: 18px;
    padding-right: 18px;
}

@media (max-width: 991px){
    .artigo .image-container{
        display: none;
    }
}

.artigo .texto{
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
}

.areaAtendimento{
    margin-top: 5px;
    padding: 15px;

    background-color: #5bc0de;

    border-radius: 6px;

    font-size: 22px;
    color: white;
}

.imagem{
    display: block;
    left: calc(50% - 200px);
    position: absolute;
    top: calc(50% - 155px);

    width: 400px;
    height: 310px;
}

.rodape{
    background-color: #091B31;
    padding-top: 10px;
    padding-bottom: 10px;

    color: white;
    font-size: 18px;
}

.tabelaChamados > tbody > tr > td{
    font-size: 14px;
    vertical-align: middle;
}
.tabelaChamados > tbody > tr > td > h4{
    font-size: 16px;
    font-weight: bold;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.bg-info {
    background-color: #5bc0de;
}

.bg-primary{
    background-color: #0275d8;
}

.bg-sucess{
    background-color: #5cb85c;
}

.bg-warning{
    background-color: #f0ad4e;
}